@charset "UTF-8";
/* CSS Document */

html, body {
  margin: 0px;
}

.clear {
  clear: both;
}

#wrapper {
  width: 100%;
  max-width: 960px;
  margin: auto;
}


/*---------- HEADER ----------*/

header {
  height: 300px;
  width: 100%;
  background: #e68b03;
}


/*---------- CONTENT AREA ----------*/

.col-3 {
  width: 100%;
  height: 320px;
  float: left;
}

#column-1 {
  background: #46f6c4;
}

#column-2 {
  background: #e45add;
}

#column-3 {
  background: #05ab1e;
}


/*---------- FOOTER ----------*/

footer {
  width: 100%;
  height: 30px;
  background: #d5f411;
}


/*---------- TABLET ----------*/
/* Change the background colors below */

@media (min-width: 768px) {
  header {
    background-color: #ab1e05;
  }

  #column-1 {
    background-color: #570242;
  }

  #column-2 {
    background-color: #7462ce;
  }

  #column-3 {
    background-color: #1a4d22;
  }

  footer {
    background-color: #e0f0a2;
  }
  
}


/*---------- Desktops ----------*/
@media (min-width: 1200px) {
  header {
    background-color: #47f361;
  }

  #column-1 {
    background-color: #47f3d6;
  }

  #column-2 {
    background-color: #ff129c;
  }

  #column-3 {
    background-color: #6a0707;
  }

  footer {
    background-color: #e1f501;
  }
   
}
